@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

#headercontainer {
  position: relative;
  text-align: center;
  color: darkred;
  border-bottom: medium solid black;
}

img.header {
  width: 100%;
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: .7;
}

p {
  font-size: 1.25em;
  line-height: 1.3em;
  text-indent: 4%;
  font-family: 'Noto Serif TC', serif;
  text-align: left;
}

.articlecopy {
  margin-left: 20%;
  margin-right: 20%;
}

#byline {
  font-family: 'Arial', sans-serif;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 10%;
}

#date {
  font-weight: lighter;
  font-size: .9em;
}

.sectionhead {
  margin-top: 15%;
  text-align: left;
  color: darkred;
  font-weight: bolder;
  font-size: 1.5em;
}

h1 {
  text-align: center;
  display: inline;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
  font-size: 4em;
  font-weight: bolder;
  text-shadow: 1px 1px black;
  background-color: lightgray;
  opacity: .9;
}

h4 {
  text-align: left;
  display: inline;
  width: 70%;
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px black;
  font-size: 2em;
}

mark {
  color: darkred;
  background-color: lightgray;
  padding: 5px;
  opacity: .9;
}

/* OVERRIDES * OVERRIDES * OVERRIDES */

/* TO PREVENT DEK FROM SHOWING UP BETWEEN Opx-320px */

@media only screen and (min-width: 0px) {
  img.header {
    width: 100%;
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(200%);
    filter: grayscale(100%) contrast(200%);
    opacity: .7;
  }
  h1 {
    background-color: white;
    opacity: .8;
  }
  h4 {
    display: none;
  }
}

/* PHONE VERTICAL */

@media only screen and (min-width: 320px) {
  h1 {
    position: absolute;
    display: inline;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    background-color: lightgray;
    opacity: .9;
  }
  h4 {
    display: none;
  }
  p {
    text-indent: 6%;
  }
  .articlecopy {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* TABLETS VERTICAL */

@media only screen and (min-width: 480px) {
  h4 {
    display: inline;
    font-size: .5em;
  }
  caption {
    font-family: 'Arial', sans-serif;
    font-style: italic;
  }
  h1 {
    position: absolute;
    display: inline;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  h4 {
    position: absolute;
    display: inline;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .9em;
    line-height: 2em;
  }
  .articlecopy {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media only screen and (min-width: 681px) {
  h1 {
    position: absolute;
    display: inline;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
  }
  h4 {
    position: absolute;
    display: inline;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
  }
  .articlecopy {
    margin-left: 25%;
    margin-right: 25%;
  }
}

@media only screen and (min-width: 729px) {
  h1 {
    position: absolute;
    display: inline;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
  }
  h4 {
    position: absolute;
    display: inline;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em;
  }
  .articlecopy {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* TABLETS HORIZONTAL */

@media only screen and (min-width: 768px) {
  .articlecopy {
    margin-left: 25%;
    margin-right: 25%;
  }
  h2 {
    display: inline;
    font-size: 2em;
  }
}

/* IN BETWEEN TABLET HORIZONTAL AND WIDESCREEN COMPUTER */

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 5em;
    top: 20%;
  }
  h2 {
    font-size: 2em;
    top: 60%;
  }
  .articlecopy {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* LARGE-WIDTH DESKTOPS/LAPTOPS */

@media only screen and (min-width: 1200px) {
  h1 {
    position: absolute;
    display: inline;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    font-size: 7em;
    text-shadow: 6px 6px black;
  }
  h4 {
    position: absolute;
    display: inline;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px black;
  }
  .articlecopy {
    margin-left: 25%;
    margin-right: 25%;
  }
}